<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Todolists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-input type="text" placeholder="New list" [(ngModel)]="formAdd.text" name="text"></ion-input>
      <ion-button type="submit" *ngIf="formAdd.text" expand="full" size="default">
        <ion-icon name="add"></ion-icon>
        Add
      </ion-button>
    </ion-item>
  </form>

  <ion-list class="ion-padding">

    <ion-item-sliding *ngFor="let item of todoList ; let i = index">
      <ion-item-options *ngIf="isOwner(i)" side="start">
        <ion-item-option color="primary" (click)="presentModal(i)">
          <ion-icon slot="top" name="build"></ion-icon>
          Edit
        </ion-item-option>
      </ion-item-options>
      <ion-item [routerLink]="['/list/', item.id]" routerDirection="forward">
        {{item.name}}
        <ion-icon name="eye" slot="end" *ngIf="isReadOnly(i)"></ion-icon>
        <ion-icon name="create" slot="end" *ngIf="isWriteOnly(i)"></ion-icon>
        <ion-label class="ion-text-right" *ngIf="isReadOnly(i)" color="medium">Readable</ion-label>
        <ion-label class="ion-text-right" *ngIf="isWriteOnly(i)" color="medium">Writable</ion-label>
      </ion-item>
      <ion-item-options *ngIf="isOwner(i)" side="end">
        <ion-item-option color="danger" (click)="onDelete(i)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
