<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-input type="email" placeholder="email@truc.com" [(ngModel)]="formAdd.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="*****" [(ngModel)]="formAdd.password" name="password"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!formAdd.email || !formAdd.password" expand="full" size="default">     
      Login
    </ion-button>
    <ion-button [routerLink]="['/create-account']" routerDirection="forward"  expand="full" size="default">
      Register
    </ion-button>
    <ion-button (click)="fb_auth()">
      Authenticate with facebook
    </ion-button>
  </form>
</ion-content>
