<ion-header>
  <ion-toolbar>
    <ion-title>todolist.name</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Owner</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{todolist.owner}}</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Writers</ion-label>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let writer of todolist.writers; let i = index">
      <ion-item>
        <ion-label>{{writer}}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="remove_writer(writer)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Remove
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <form (ngSubmit)="add_writer()">
      <ion-item>
        <ion-icon name="add"></ion-icon>
        <ion-input type="text" placeholder="New writer's email" [(ngModel)]="formAddWriter.text" name="text"></ion-input>
        <ion-button type="submit" *ngIf="formAddWriter.text" expand="full" size="default">
          <ion-icon name="add"></ion-icon>
          Add
        </ion-button>
      </ion-item>
    </form>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Readers</ion-label>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let reader of todolist.readers; let i = index">
      <ion-item>
        <ion-label>{{reader}}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="remove_reader(reader)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Remove
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <form (ngSubmit)="add_reader()">
      <ion-item>
        <ion-icon name="add"></ion-icon>
        <ion-input type="text" placeholder="New reader's email" [(ngModel)]="formAddReader.text" name="text"></ion-input>
        <ion-button type="submit" *ngIf="formAddReader.text" expand="full" size="default">
          <ion-icon name="add"></ion-icon>
          Add
        </ion-button>
      </ion-item>
    </form>
  </ion-item-group>
</ion-content>
